    hr {
        width:3%;
        border-style:initials;
        border-top-style:dotted;
        border-width:10px;
        border-color:grey;
    }
    h1 {
        font-family:Georgia, 'Times New Roman', Times, serif;
        color:#0E8388
    }
    h3 {
        font-family:Georgia, 'Times New Roman', Times, serif;
        color:#0E8388
    }
    body{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }